<h1>form</h1>
<form id="form_libro">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Año y lugar de edición</label>
            <input type="text"  name="years_place" [(ngModel)]='years_place' class="form-control" placeholder="Ej:Alicia en el pais de la maravilla">
          </div>
          <div class="form-group col-md-6">
            <label>Numero de Edicion</label>
            <input type="text" class="form-control" name="Nedicion" [(ngModel)]='Nedicion' placeholder="1994-05-19">
          </div>
        </div>
        <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Precio</label>
                  <input type="text" class="form-control" name="precio" [(ngModel)]='precio' placeholder="Pepito perez">
                </div>
                <div class="form-group col-md-6">
                  <label>Cubierta</label>
                  <input type="text" class="form-control" name="cubierta" [(ngModel)]='cubierta' placeholder="fantasia">
                </div>
        </div>
        <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Paginas</label>
                  <input type="text" class="form-control" name="paginas" [(ngModel)]='paginas' placeholder="200p">
                </div>
                <div class="form-group col-md-6">
                  <label>Numeros de ejemplares</label>
                  <input type="text" class="form-control" name="nejemplares" [(ngModel)]='nejemplares' placeholder="Aleman">
                </div>
        </div>
        <div class="form-row ">
                <div class="form-group col-md-6">
                  <label>Estanteria</label>
                  <input type="text" class="form-control" name="estanteria" [(ngModel)]='estanteria' placeholder="200">
                </div>
                  
              
        </div>
                
        <button type="button" (click)='Saveform()' class="btn btn-primary">Sign in</button>
        
      </form>
      