

  {{titulo}}

  <form FormGroup='areasFormulario' ><!--(ngSubmit)="onSubmit()"-->
  <div class="form-row">
      <div class="form-group col-md-6">
        <label >Codigo</label>
        <input type="text" class="form-control" FormControlName="code" >
       </div>
      
  </div> 
  
  <div class="form-row">
      <div class="form-group col-md-6">
          <label>Descripcion</label>
          <input type="text" class="form-control"  FormControlName="description" >
      </div>
  </div> 
  
      <button type="submit"  class="btn btn-primary">Guardar</button> <!--(click)="Saveform()"-->
  </form>
    
   
      