

  {{titulo}}

  <form [formGroup]='areasFormulario' ><!--(ngSubmit)="onSubmit()"-->
  <div class="form-row">
      <div class="form-group col-md-6">
        <label >Codigo</label>
        <input type="text" class="form-control" formControlName="code" >
       </div>
      
  </div> 
  
  <div class="form-row">
      <div class="form-group col-md-6">
          <label>Descripcion</label>
          <input type="text" class="form-control"  formControlName="description" >
      </div>
  </div> 
  
  <button (click)= "saveAreas()" class="btn btn-primary">Guardar</button>  <!--(click)="Saveform()"-->
  </form>
  <table>
    <tr>
        <td>Nombre</td>
        <td>Apellido</td>
        <td>Fecha N</td>
        <td>Nombre</td>
        <td>Nombre</td>
    </tr>
    <tr *ngFor = "let areas of areas">
        <td>{{areas.code}}</td>
        <td>{{areas.description}}</td>
    </tr>
  </table>
    
   
      