  
{{titulo}}
<br>
<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Nombre</label>
      <input type="text" [(ngModel)]="nombre" name="nombre" class="form-control" placeholder="nombre">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Apellido</label>
      <input type="text" [(ngModel)]="apellido" name="apellido" class="form-control" placeholder="apellido">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Fecha de nacimiento</label>
      <input type="text" [(ngModel)]="fechanac" name="fechanac" class="form-control" placeholder="fecha">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Nacionalidad</label>
      <input type="text" [(ngModel)]="nacionalidad" name="nacionalidad" class="form-control" placeholder="nacionalidad">
    </div>
  </div>
  
  <button type="submit" (click)="Saveform()" class="btn btn-primary">Guardar</button>
</form>