<h1>form</h1>
<form id="form_libro">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Nombre</label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="Ej:Alicia en el pais de la maravilla">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">pais</label>
            <input type="text" class="form-control" id="inputPassword4" placeholder="1994-05-19">
          </div>
        </div>
        <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Año de nacimiento</label>
                  <input type="text" class="form-control" id="inputEmail4" placeholder="Pepito perez">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Ciudad</label>
                  <input type="text" class="form-control" id="inputPassword4" placeholder="fantasia">
                </div>
        </div>
        <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">A fallecimiento</label>
                  <input type="text" class="form-control" id="inputEmail4" placeholder="Editorial">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Recibe</label>
                  <input type="text" class="form-control" id="inputPassword4" placeholder="Aleman">
                </div>
        </div>
        <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">influencia</label>
                  <input type="text" class="form-control" id="inputEmail4" placeholder="200">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Estudio</label>
                  <input type="text" class="form-control" id="inputPassword4" placeholder=".....">
                </div>
        </div>
                
        <button type="submit" class="btn btn-primary">Submit</button>
        
      </form>
      